{
  "irc": {
    "host": "hoge.irc.slack.com",
    "username": "hoge",
    "password": "hoge.XXXXXXXXX",
    "channels": ["#general"]
  },
  "bot": {
    "plugins": [
      ["ping"],
      ["cron", {
        "jobs": [
          ["0 * * * * *", "#general", "tessel: ping"]
        ]
      }],
      ["climate", {
        "mock": { "temperature": 23.4, "humidity": 60.2 },
        "lang": "ja",
        "module": "si7020",
        "port": "A"
      }]
    ]
  }
}
